
<div class="tit">
<h4 class="title is-3">All Customers</h4>
</div>

<div><%= link_to "Alphabetized", alphabetized_customers_path %> | <%= link_to "Customers Missing Email",missing_email_customers_path %></div>
<div class="columns is-multiline">
  <%= render @customers %>
</div>